# Ignore
node_modules/
.dfx/
.icp/cache/
src/otherland_client/src/bindings/
src/otherland_client/dist/
src/declarations/
.vscode
.mops
.env
*.local

# Explicitly include
!src/
!package.json
!package-lock.json
!tsconfig.json
!README.md
!.env.example
